@import "macchiato.css";
@define-color base_light rgba(27, 27, 27, 0.7);

* {
  font-family: "JetBrains Mono", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#pulseaudio:hover {
  background-color: @surface2;
}

#workspaces button {
  padding: 0 1px;
  background-color: transparent;
  color: @rosewater;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#language,
#cava,
#pulseaudio {
  padding: 0 6px;
}

#pulseaudio {
  color: @maroon;
  padding: 0 0px;
}

#language {
  color: @text;
}

#cava {
  color: @mauve;
  /*background-color: rgba( 6, 6, 10, 0.5 );
  border-radius: 5;*/
  /*color: rgba( 25, 25, 25, 1.0 );*/
}

#network {
  color: @green;
}

#temperature {
  color: @sky;
}

#battery {
  color: @white;
}

#clock {
  color: @peach;
}

#cpu {
  color: @blue;
}

#memory {
  color: @yellow;
}

#window {
  padding: 0 0px;
  color: rgba(140, 140, 140, 0.8);
}

.modules-right,
.modules-left,
.modules-center {
  background-color: rgba(40, 40, 40, 0.8);
  /*background-color: @base;*/
  border-radius: 7px;
}
.modules-right {
  padding: 0 6px;
}

.modules-left {
  padding: 0 6px;
}

.modules-center {
  padding: 0 7px;
}
#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: rgba(120, 120, 120, 0.8);
}
